<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nautestech.www.mapper.ContactMapper">
	<resultMap type="contact" id="contactMap" >
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="phone_number" column="phone_number"/>
		<result property="company" column="company"/>
		<result property="last_call" column="last_call"/>
		<result property="msg_count" column="msg_count"/>
		<result property="email_count" column="email_count"/>
		<result property="call_count" column="call_count"/>
		<result property="total_interactions" column="total_interactions"/>
		<result property="created_at" column="created_at"/>
		<result property="updated_at" column="updated_at"/>
	</resultMap>
    <select id="getContactList" parameterType="com.nautestech.www.model.Contact" resultMap="contactMap">
        SELECT * FROM contact
		ORDER BY id ASC
    </select>
</mapper>